@media screen and (max-width:1500px){
    .faq-sec-cont{
        padding: 50px 200px 50px 150px;
    }
}
@media screen and (max-width:1280px){
    .faq-sec-cont{
        padding: 50px 140px 50px 100px;
    }
}
@media screen and (max-width:1050px){
    .faq-sec-cont{
        padding: 50px 110px 50px 70px;
    }
}
@media screen and (max-width:992px){
    .header{
        padding: 80px 70px;
    }
}
@media screen and (max-width:890px){
    .nav-2{
        display: none !important;
    }
    .nav-3{
        display: block;
        margin-right: 30px;
    }
    .hamburger{
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        justify-content: space-between;
    }
}
@media screen and (max-width:768px){
    .header{
        padding: 70px 50px;
    }
    .faq-sec-cont{
        padding: 50px 60px 50px 30px;
    }
}
@media screen and (max-width:610px){
    .nav-1 img{
        height: 90px;
    }
    .nav-1{
        display: flex;
        align-items: center;
    }
    nav{
        padding: 0px 30px;
    }
    .fa-bars {
        font-size: 22px;
    }
    .header{
        padding: 50px 30px;
    }
    .header p{
        font-size: 18px;
    }
}
@media screen and (max-width:510px){
    .fa-bars {
        font-size: 20px;
    }
    .nav-3{
        margin-right: 25px;
    }
    .header h1{
        font-size: 30px;
    }
    .faq-sec-cont{
        padding: 50px 40px 50px 20px;
    }
    p{
        font-size: 15px !important;
    }
}
@media screen and (max-width:450px){
    .nav-1 img{
        height: 70px;
    }
    nav{
        padding: 0px 20px;
    }
    .nav-3{
        height: 90px;
    }
    .header h1{
        font-size: 25px;
    }
    .header{
        padding: 30px 20px;
    }
    .faq-sec-cont{
        padding: 50px 20px 50px 20px;
    }
    p{
        font-size: 15px !important;
    }
    h1{
        font-size: 28px !important;
    }
    h2{
        font-size: 27px !important;
    }
    h3{
        font-size: 25px !important;
    }
    h4{
        font-size: 20px !important;
    }
    h5{
        font-size: 18px !important;
    }
    h6{
        font-size: 16px !important;
    }
}
@media screen and (max-width:410px){
    .fa-bars {
        font-size: 17px;
    }
    .nav-3{
        margin-right: 20px;
    }
    .contact-info{
        padding: 60px 20px 40px 20px;
    }
    p{
        font-size: 14px !important;
    }
}
@media screen and (max-width:340px){
    .nav-3{
        margin-right: 15px;
    }
    p {
        font-size: 13px !important;
    }
}
/* footer section */


@media screen and (max-width:1150px){
    .footer-col-pad-1{
        padding: 10px 0px 0px 0px;
    }
    .footer-col-pad-1 h2{
        font-size: 25px;
    }
    .footer-col-pad-2{
        padding: 0px 0px 0px 20px;
    }
    .footer-col-pad-3{
        padding: 0px 0px 40px 15px ;
    }
}
@media screen and (max-width:992px){
    .footer-col-pad-1 h2{
        font-size: 30px;
    }
}
@media screen and (max-width:720px){
    .footer-col-pad-1 h2{
        font-size: 25px;
    }
    .footer-col-pad-1 img{
        height: 70px;
        width: 120px;
    }
}
@media screen and (max-width:625px){
    .footer-col-pad-1 h2{
        font-size: 23px;
    }
    .footer-col-pad-1 img{
        height: 50px;
        width: 100px;
    }
}
@media screen and (max-width:576px){
    .footer-col-pad-1 h2{
        font-size: 27px;
    }
    .footer-col-pad-1 img{
        height: 80px;
        width: 120px;
    }
    .footer-last-col-col2 div h4{
        font-size: 20px;
    }
    .footer-col:nth-child(2){
        height: 300px;
    }
    .footer-col:nth-child(3){
        height: 300px;
    }
    .footer-col:nth-child(4){
        height: 300px;
    }
}
@media screen and (max-width:350px){
    .footer-col-pad-1 h2{
        font-size: 25px;
    }
    .footer-col-pad-1 img{
        height: 60px;
        width: 100px;
    }
}