@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
nav{
    width: 100%;
    background-color:  #ffd901;
    display: flex;
    justify-content: space-around;
}
.nav-3{
    display: none;
}
.nav-1 img{
    height: 100px;
}
.nav-2 {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-2 ul {
    display: flex;
    gap: 30px;
}
.nav-2 ul li {
    list-style: none;
}
.nav-2 ul li a{
    font-size: 19px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-2 ul li a:hover{
    color: rgb(97, 96, 96);
}
.sidenav {
    height: 100vh;
    width: 60%;
    background-color: #ffd901;;
    position: fixed;
    z-index: 2;
    left: -100%;
    transition: all 2s;
    display: flex;
    justify-content: center;
}

.sidenv ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 50px;
}

.sidenv ul li {
    list-style: none;

}
.sidenv ul li a{
    font-size: 27px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.sidenv ul li a:hover{
    color: rgb(97, 96, 96);
}
.show {
    left: 0% !important;
}
.fa-bars {
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.contact-info{
    height: 60vh;
    padding: 80px 0px 40px 150px;
}
.info-cont{
    height: 100%;
    width: 50%;
}
.info-cont-1{
    width: 100%;
    display: flex;
}
.info-cont-1 div:nth-child(2){
    color: black;
}
.info-cont-2{
    width: 100%;
    border-top: 1px solid gray;
    display: flex;

}
.info-cont-2 div:nth-child(2){
    color: black;
}
.col-same div div:nth-child(1){
    height: 100px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-same div div:nth-child(2){
    height: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    line-height: 0.6;
    padding-top: 25px;
}
.font-height{
    font-size: 40px;
}
.contact-us-section{
    width: 100%;
    padding: 40px 60px 40px 150px;
}
.cont-sec-1{
    width: 60%;
    color: black;
}
.cont-sec-2{
    width: 60%;
    padding: 20px 40px 40px 0px;
}
.name{
    width: 48%;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
    border: none;
}
.email{
    width: 48%;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
    border: none;
}
.text{
    width: 97%;
    height: 250px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    border: none;
}
.submit{
    height: 35px;
    width: 80px;
    border-radius: 8px;
    background-color: #ffd901;
    border: none;
    margin-top: 15px;
    transition: all 0.6s ease;
}
.submit:hover{
    transform: scale(0.95);
    box-shadow: 0px 2px 6px #555;
}
/* footer section */
.for-linear-footer-bg{
    /* background: -webkit-linear-gradient(to right, rgb(229, 255, 0), rgb(197, 194, 2)); */
	/* background: linear-gradient(to right,  rgb(98, 93, 93), rgb(197, 194, 2)); */
    background-color: #ffd901;
    overflow: hidden;
}
.footer-col{
    height: 400px;
    /* background-color: rgb(2, 4, 112); */
    /* background: -webkit-linear-gradient(to right, #2599cf, #293b91);
	background: linear-gradient(to right, #2599cf, #293b91); */
    padding-top: 20px;
}
.footer-col:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-col:nth-child(1) div{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer-col:nth-child(1) div img{
    height: 100px;
}
.footer-col:nth-child(1) div h2{
    color: black;
}
.footer-col:nth-child(2) div{
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    gap: 10px;
}
.footer-col:nth-child(3) div{
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    gap: 10px;
}
.footer-col:nth-child(1) div p{
    color: black;
    font-size: 18px;
}   
.footer-col-pad-1{
    padding: 10px 0px 0px 20px;
}
.footer-col-pad-2{
    padding: 0px 0px 0px 40px;
}
.footer-col-pad-3{
    gap: 10px;
    padding: 0px 0px 40px 35px ;
}
.footer-col:nth-child(1) div div{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    padding: 0px 0px 2px 16px;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.footer-col:nth-child(1) div div:hover{
    transform: scale(0.9);
}
.footer-col:nth-child(3) div ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-col:nth-child(2) div ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-col:nth-child(2) div ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.footer-col:nth-child(2) div ul li a:hover{
    text-decoration: underline;
}
.footer-col:nth-child(3) div ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-last-col{
    height: 100%;
    width: 100%;
    color: black;
    padding: 40px 0px 0px 10px;
}
.footer-last-col h3{
    font-size: 35px;
}
.footer-last-col-col2{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 35px;
}
.footer-last-col-col2 div:nth-child(1){
    display: flex;
    gap: 15px;
    align-items: center;
}
.footer-last-col-col2 div:nth-child(2){
    display: flex;
    gap: 15px;
    align-items: center;
}